:root {
    --cabecalho: #A31D1D;
    --corpo: #ECDCBF;
    --caixas: #D84040;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cabecalho);
  min-height: 100vh;
}

header {
    height: 12vh;
    background-color:var(--corpo);
}

header h1 {
      position: absolute;
    margin-left: 20vh;
    font-size: 9vh;
    margin-top: 1vh;
    color: #A31D1D;

}
footer {
  background-color: var(--cabecalho);
  height: 12vh;
}

footer p {
  text-align: center;
  font-size: 6vh;
  color: white;
}
header img {
  margin-top: -8vh;
    margin-left: -4vh;
    height: 28vh;
    position: absolute;
}

.conteiner {
 margin-left: 7vh;
  margin-top: 4vh;
  display: grid;
  grid-template-columns: repeat(3, 50vh);
  grid-template-rows: repeat(3, 50vh);
  gap: 30px;
}

.grid_item {
  background-color: var(--caixas);
  padding: 20px;
}

.item_monaco {
  grid-column: 1 / 3; 
  grid-row: 1; 
}

.item_monaco img {
  width: 97vh;
  height: 43vh;
}

.item_petra {
  grid-column: 3 / 3;
  grid-row: 1;
}

.item_petra img {
  width: 97vh;
  height: 42vh;
}
