:root {
    --cabecalho: #A31D1D;
    --corpo: #ECDCBF;
    --caixas: #f85a5a;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cabecalho);
  min-height: 100vh;
}

header {
    height: 12vh;
    background-color:var(--corpo);
}

header h1 {
      position: absolute;
    margin-left: 20vh;
    font-size: 9vh;
    margin-top: 1vh;
    color: #A31D1D;

}

header img {
  margin-top: -8vh;
    margin-left: -4vh;
    height: 28vh;
    position: absolute;
}

header img:hover {
  cursor: pointer;
}

footer {
  background-color: var(--corpo);
  height: 19vh;
  margin-top: 5vh;
}

footer p {
  padding-top: 3vh;
    text-align: center;
    font-size: 16px;
    color: #9c8b6c; }

.informação {
background-color: #f85a5a;
    height: 75vh;
    padding: 3vh;
    width: 103vh;
    margin: 5vh;
}

.informação p {
    color: white;
    font-size: 3vh;
    text-align: center;
    font-weight: bolder;
}

.informação h2 {
  color: #5f0909;
    font-weight: bolder;
    text-align: center;
    font-size: 6vh;
    padding-bottom: 0vh;

}

.maps {
 position: absolute;
    margin-top: -80vh;
    margin-left: 113vh;
}

.informação img {
  margin-left: 2vh;
    margin-top: -15vh;
    width: 29vh;
    padding-top: 18vh;
}